body {
    background-color: rgb(74, 101, 58);
}
.title {
    width: 100%;
    text-align: center;
    font-family: raleway;
    font-size: 40pt;
    background: -webkit-linear-gradient(rgb(255, 255, 255),rgb(223, 228, 58));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.frame {
    position: relative;
    left: 20.5vw;
    top: 50%;
    border-radius: 6px;
    height: 780px;
    width: 850px;
}
.gameBoard {
    position: relative;
    display: grid;
    grid-template-columns: repeat(11, 48.5px);
    grid-template-rows: repeat(8, 64px);
    background-color: rgb(131, 180, 102);
    border-radius: 7px;
    top: -648px;
    transform: translateX(156px);
    transition: 200ms;
    left: 20.5vw;
    height: 512px;
    width: 533px;
}
.light {
    background-color: rgb(170,215,82);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.dark {
    background-color: rgb(145, 187, 67);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.tile {
    position: relative;
    transition: 100ms;
    z-index: 5;
    height: auto;
    width: auto;
    text-align: center;
    font-size: 38pt;
    font-family: Raleway;
    border: 0.5px solid rgb(78, 107, 62);
    border-radius: 2px;
}